/* 
font-family: 'Cinzel Decorative', cursive;
font-family: 'Spectral SC', serif;
*/

.tech-overlay-wrapper {
    display: flex;
}

.upgrade-overlay-wrapper {
    display: flex;
}

.div-background {
    display: inline-block;
    width: 500px;
    height: 600px;    
    background: url("https://raw.githubusercontent.com/Treee/aoe-tech-tree-widget/gh-pages/build/images/popup_menu_bg_portrait.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.div-upgrade-background {
    display: inline-block;
    width: 37rem;
    height: 7rem;    
    background: url("https://raw.githubusercontent.com/Treee/aoe-tech-tree-widget/gh-pages/build/images/chatbar_bg.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.div-upgrade {
    display: inline-block;
    width: 2rem;
    height: 2rem;   
}

.div-wrapper {
    width: 75%;
    margin: 1rem auto;
    text-align: center;
}

.civ-icon {
    width: 2rem;
    height: 2rem;
    display: inline-block;
}

.civ-name {
    display: inline-block;
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Cinzel Decorative', cursive;
    margin-left: .5rem;
    margin-right: .5rem;
}

.civ-icon-and-name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2.2rem;
}

.civ-desc {
    font-family: 'Spectral SC', serif;
    line-height: 1.4rem;
    letter-spacing: -.07rem;
    font-weight: 600;
}

.mask-img {
    -webkit-mask-image: linear-gradient(to top, 
        transparent 33.3%, 
        hsl(0, 0%, 100%, 0) 33.4%, 
        hsl(0, 0%, 100%, .9) 66.6%, 
        hsl(0, 0%, 100%, .9) 100%
    );
    -webkit-mask-size: 100% 300%;
    -webkit-mask-position: 0 200%;
    -webkit-mask-repeat: no-repeat;

    mask-image: linear-gradient(to top, 
        transparent 33.3%, 
        hsl(0, 0%, 100%, 0) 33.4%, 
        hsl(0, 0%, 100%, .9) 66.6%, 
        hsl(0, 0%, 100%, .9) 100%
    );
    mask-size: 100% 300%;
    mask-position: 0 200%;
    mask-repeat: no-repeat;
}

.fade-in {
    animation: mask-move-in 2s ease-in forwards;
}

.fade-out {
    animation: mask-move-out 2s ease-out forwards;
}

@keyframes mask-move-in {
    from {
    -webkit-mask-position: 0 100%;
    mask-position: 0 100%;    
    }
    to {
    -webkit-mask-position: 0 0%;
    mask-position: 0 0%;    
    }
}

@keyframes mask-move-out {
    from {
        -webkit-mask-position: 0 0%;
        mask-position: 0 0%;    
    }
    to {
        -webkit-mask-position: 0 100%;
        mask-position: 0 100%;    
    }
}


/* .civ-controls {

} */

.civ-tech-icons-wrapper {
    display: inline-block;
    width: 100%;
}

.civ-tech-icon {
    width: 6rem;
    height: 6rem;
    display: inline-block;

    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;

    font-size: larger;
    font-weight: bold;

    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.civ-text{
    display: inline-block;
    margin-top: 75%;
}

.faded {
    opacity: .5;
}

.not-faded {
    opacity: 1;
}